# Auto detect text files and perform LF normalization
* text=auto
Password-manager-via-PNG-images/app/* linguist-vendored
Password-manager-via-PNG-images/installer/* linguist-vendored
Password-manager-via-PNG-images/.vscode/* linguist-vendored